 /* 10. Animations */


.page-fade-out {
  -webkit-animation: animation-fade-out .2s forwards;
  animation: animation-fade-out .2s forwards;
}

.page-fade-in {
  -webkit-animation: animation-fade-in 1s forwards;
  animation: animation-fade-in 1s forwards;
}

.fade_in {
  -webkit-animation: fade_in_animation .5s forwards;
  animation: fade_in_animation .5s forwards;
}

@keyframes fadeInMarker {
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    margin-bottom: -10px;
  }
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    margin-bottom: 0px;
  }
}


@keyframes fade_in_animation {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
}
@-webkit-keyframes fade_in_animation {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
}
.fade_out {
  -webkit-animation: fade_out_animation .3s forwards;
  animation: fade_out_animation .3s forwards;
}

@keyframes fade_out_animation {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}
@-webkit-keyframes fade_out_animation {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}
.fade-in {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-opacity: 1 !important;
  opacity: 1 !important;
  -webkit-animation: fadeIn .3s;
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1 !important;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    -webkit-opacity: 0;
  }
  100% {
    -webkit-opacity: 1 !important;
  }
}
.fade-out {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-opacity: 0 !important;
  opacity: 0 !important;
  -webkit-animation: fadeOut .3s;
  animation: fadeOut .3s;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0 !important;
  }
}
@-webkit-keyframes fadeOut {
  from {
    -webkit-opacity: 1;
  }
  to {
    -webkit-opacity: 0 !important;
  }
}
.rotate {
  -webkit-animation: rotate 1s;
  animation: rotate 1s;
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
.cluster-loaded {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

.cluster-animation {
  -webkit-animation: clusterOpacity 1s forwards;
  animation: clusterOpacity 1s forwards;
}

@keyframes clusterOpacity {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
}
@-webkit-keyframes clusterOpacity {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
}
.bounce-animation .map-marker {
  -webkit-animation: bounce 1s forwards;
  animation: bounce 1s forwards;
}

@keyframes bounce {
  0% {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  50% {
    -ms-transform: translate(0, -10px);
    -webkit-transform: translate(0, -10px);
    transform: translate(0, -10px);
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  100% {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
}
@-webkit-keyframes bounce {
  0% {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  50% {
    -ms-transform: translate(0, -15px);
    -webkit-transform: translate(0, -15px);
    transform: translate(0, -15px);
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  100% {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
}
.bounce-in {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-animation: fadeIn .3s;
  animation: fadeIn .3s;
}

@-webkit-keyframes bounceIn {
  0% {
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@keyframes bounceIn {
  0% {
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@-webkit-keyframes rotateZ {
  from {
    -webkit-opacity: 0;
  }
  to {
    -webkit-opacity: 1 !important;
  }
}
.animation-fade-in {
  -webkit-animation-name: animation-fade-in;
  -ms-animation-name: animation-fade-in;
  animation-name: animation-fade-in;
  -webkit-animation-duration: 0.2s;
  -ms-animation-duration: 0.2s;
  animation-duration: 0.2s;
}

@-webkit-keyframes animation-fade-in {}
@-ms-keyframes animation-fade-in {}
@-webkit-keyframes animation-fade-in {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
}
@-ms-keyframes animation-fade-in {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
}
@keyframes animation-fade-in {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
}
.animation-fade-out {
  -webkit-animation-name: animation-fade-out;
  -ms-animation-name: animation-fade-out;
  animation-name: animation-fade-out;
  -webkit-animation-duration: 0.2s;
  -ms-animation-duration: 0.2s;
  animation-duration: 0.2s;
}

@-webkit-keyframes animation-fade-out {}
@-ms-keyframes animation-fade-out {}
@-webkit-keyframes animation-fade-out {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}
@-ms-keyframes animation-fade-out {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}
@keyframes animation-fade-out {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}