/* 1. Element styling */

a {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: $base-grey;
  &:hover {
    color: $base-blue;
    outline: none !important;
    text-decoration: none;
  }
  &:focus, &:active {
    color: $base-grey;
    outline: none !important;
    text-decoration: none;
  }
  &.icon i, &.link {
    color: $base-blue;
  }
}

address .info {
  line-height: 25px;
  a {
    color: $base-blue;
  }
  i {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    opacity: 0.6;
    width: 20px;
  }
}

body, html {
  color: $base-grey;
  font-family: 'Arial', sans-serif;
  height: 100%;
  margin: 0;
  font-size: 14px;
}

body {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

dl {
  dt {
    float: left;
  }
  dd {
    text-align: right;
    margin-bottom: 8px;
  }
  &.lines dd {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
    padding-bottom: 5px;
  }
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 18px;
  margin-top: 0;
  text-transform: uppercase;
}

h2 {
  font-size: 16px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

h3 {
  font-size: 15px;
  margin-bottom: 20px;
}

h4 {
  font-size: 14px;
  margin-bottom: 20px;
}

h5 {
  font-size: 12px;
  margin-bottom: 10px;
}

hr {
  border-color: rgba(0, 0, 0, 0.06);
}


html {
  overflow-y: scroll !important;
}

i {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

label {
  display: table-caption;
  white-space: nowrap;
}

img {
  max-width: 100%;
}

p {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}

section {
  position: relative;
  header {
    margin-bottom: 10px;
    h2 {
      margin-top: 5px;
    }
    .page-title {
      padding: 25px 0;
      margin-bottom: 0;
    }
  }
}

ul {
  padding-left: 13px;
  &.bullets {
    list-style: none;
    li {
      display: inline-block;
      line-height: 24px;
      width: 48%;
      &:before {
        text-shadow: none;
        -webkit-font-smoothing: antialiased;
        font-family: 'fontawesome';
        speak: none;
        font-weight: normal;
        font-variant: normal;
        line-height: 1;
        text-transform: none;
        color: $base-blue;
        content: "\f111";
        font-size: 5px;
        left: -12px;
        position: relative;
        float: left;
        top: 10px;
      }
      a {
        color: $base-grey;
        display: block;
        &:hover {
          color: $base-blue;
        }
      }
    }
  }
}