.results {
    .card {
        .card-image {
            overflow: hidden;

            max-height: 200px !important;
            .card-title {
                width: 100%;

                background: $black-transparent;
            }
        }
        .card-content {
            .type {
                i {
                    float: left;
                }
                span {
                    display: inline-block;

                    padding-top: 8px;
                }
            }
        }
        .clearfix {
            display: block;
        }
    }
}