.results,
.items-list {
    .card {
        cursor: pointer;
        .card-image {
            overflow: hidden;

            height: 220px !important;
            > img {
                position: absolute;
                top: 50%;

                transform: translateY(-50%);
            }
            .card-title {
                top: 0;
                bottom: auto;

                width: 100%;

                background: $black-transparent;
                .rating {
                    font-size: 84px;
                    line-height: 84px;

                    position: absolute;
                    top: 0;
                    right: -8px;

                    opacity: 0.2;
                }
            }
        }
        .card-info {
            position: absolute;
            bottom: 0;

            width: 100%;
            padding: 2px 20px;

            color: $base-white;
            background: $black-transparent;
            .type {
                i {
                    float: left;
                }
                span {
                    display: inline-block;

                    padding-top: 8px;
                }
            }
        }
        .clearfix {
            display: block;
        }
    }
}

.items-list {
    .card {
        float: left;

        margin: 1%;
        .card-title {
            font-size: 18px;
        }
        .btn {
            width: 48%;
        }
    }
}

@media only screen and (min-width : 1024px) {
    .items-list {
        .card {
            width: 23%;
        }
    }
}

@media only screen and (max-width : 1023px) {
    .items-list {
        .card {
            width: 31%;
        }
    }
}

@media only screen and (max-width : 768px) {
    .items-list {
        .card {
            width: 48%;
        }
    }
}

@media only screen and (max-width : 600px) {
    .items-list {
        .card {
            .btn {
                display: block;
                clear: both;

                width: 100%;
                margin-bottom: 8px;
            }
        }
    }
}
