body {
    &.page-login {
        #nav-mobile {
            display: none;
        }
        header {
            .brand-logo {
                top: 0;
            }
        }
        main {
            background: url(../img/map.gif) no-repeat;
            background-size: cover;
            .login-box {
                position: absolute;
                left: 50%;

                width: 500px;
                margin: 100px 0 100px -250px ;
                padding: 20px;

                border: 1px solid $base-grey-light;
                background: $base-white;
                input {
                    box-sizing: border-box;
                    padding: 2px 8px;
                }
            }
        }
        footer {
            margin-top: 0;
        }
    }
}

@include max-screen($mobile-width) {
    body {
        &.page-login {
            main {
                .login-box {
                    left: 0;

                    width: 100%;
                    margin: 50px 0 50px 0 ;
                    padding: 20px;
                }
            }
        }
    }
}
