body.map-fullscreen #map {
    height: 100%;
}



#map-add,
#map-edit {
    width: 100% !important;
    height: 200px !important;
    margin-bottom: 10px;
}

.map-canvas {
    position: relative;

    overflow: hidden;
    &.list-width-10 {
        .items-list {
            width: 10%;
        }
        .map {
            width: 90%;
        }
    }
    &.list-width-20 {
        .items-list {
            width: 20%;
        }
        .map {
            width: 80%;
        }
    }
    &.list-width-30 {
        .items-list {
            width: 30%;
        }
        .map {
            width: 70%;
        }
    }
    &.list-width-40 {
        .items-list {
            width: 40%;
        }
        .map {
            width: 60%;
        }
    }
    &.list-width-50 {
        .items-list,
        .map {
            width: 50%;
        }
    }
    &.list-width-60 {
        .items-list {
            width: 60%;
        }
        .map {
            width: 40%;
        }
    }
    &.list-width-70 {
        .items-list {
            width: 70%;
        }
        .map {
            width: 30%;
        }
    }
    &.list-width-80 {
        .items-list {
            width: 80%;
        }
        .map {
            width: 20%;
        }
    }
    .map {
        position: relative;

        float: right;

        width: 65%;
        .search-bar {
            position: absolute;
            z-index: 3;
            top: 0;
            left: 0;

            width: 100%;

            background-color: rgba(65, 65, 65, 0.2);
        }
        .toggle-navigation {
            position: absolute;
            z-index: 1;
            top: 0;
            bottom: 0;

            height: 27px;
            margin: auto;

            background-color: $base-grey-light;
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
        }
    }
    .items-list {
        width: 35%;
        .toggle-navigation {
            display: none;
        }
    }
    .results {
        &.list li {
            &:last-child {
                margin-bottom: 0;
            }
            .item {
                display: table;
                overflow: hidden;

                width: 100%;
                .inner {
                    height: 150px;
                }
                > .image {
                    display: table-cell;

                    width: 200px;
                    height: 100%;
                    > img {
                        width: 200px;
                        height: 100%;
                    }
                }
                .wrapper {
                    display: table-cell;

                    padding: 20px;

                    text-align: left;
                    vertical-align: middle;
                    .info {
                        &:after {
                            display: none;
                        }
                        .type {
                            display: inline-block;
                        }
                        .rating {
                            display: inline-block;
                            float: left;

                            margin-right: 10px;
                        }
                    }
                }
            }
        }
        &.grid li {
            display: inline-block;

            width: 48%;
            margin-right: 5px;
            margin-left: 5px;
            &:nth-child(even) {
                margin-right: 0;
            }
            .item {
                .image,
                .wrapper {
                    display: block;
                }
            }
        }
        .item {
            margin-bottom: 20px;
            > .image {
                position: relative;
            }
            h3 {
                margin-bottom: 5px;
            }
        }
    }
}

.map {
    height: 100%;

    -webkit-transition: 0.4s;
            transition: 0.4s;
}

#map {
    width: 100%;
    height: 700px;
}

#map-simple {
    min-height: 160px;
}

.map-submit {
    height: 300px;
}

.gmnoprint img {
    max-width: initial !important;
}

@include max-screen($mobile-width) {
    .map-canvas.list-width-30 .map {
        width: 100%;
    }
    .map-canvas.list-width-30 .items-list {
        width: 100%;
        margin-left: -100%;
    }
    .map-canvas {
        &.list-width-30 {
            .map {
                z-index: 900;

                width: 100%;
            }
            .items-list {
                width: 100%;
                margin-left: -100%;
            }
            &.results-collapsed {
                .items-list {
                    position: absolute;
                    z-index: 1000;

                    margin-left: 0;
                    .toggle-navigation {
                        display: inline-block;
                        .icon .line {
                            &:first-child {
                                position: relative;
                                top: 5px;

                                -webkit-transform: rotate(45deg);
                                    -ms-transform: rotate(45deg);
                                        transform: rotate(45deg);
                            }
                            &:nth-child(2) {
                                opacity: 0;

                                filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
                            }
                            &:last-child {
                                position: relative;
                                top: -5px;

                                -webkit-transform: rotate(-45deg);
                                    -ms-transform: rotate(-45deg);
                                        transform: rotate(-45deg);
                            }
                        }
                    }
                }
            }
        }
    }
}