.modal {
    width: 95%;
}

.pac-container {
    z-index: 9000;
}

@media only screen and (min-width: 1024px) {
    .modal {
        width: 70%;
    }
}

#itemModal {
    .col {
        img {
            width: 100%;
        }
        h4 {
            color: $primary-color;
        }
    }
}

#add-modal {
    .modal-footer {
        .btn-flat {
            float: left;
        }
    }
}

#user-modal {
    width: 98%;
    .modal-close {
        float: left;
    }
    .multiple-select-dropdown {
        li {
            &.disabled {
                display: none;
            }
        }
    }
    .modal-footer {
        .btn-default {
            margin-left: 8px;
        }
    }
}