// Colors

$base-blue:         #4187c9;
$base-grey:         #474747;
$base-grey-light:   #f4f4f2;
$base-grey-middle:  #8d8d8d;
$base-grey-dark:    #353535;
$base-white:        #fff;
$base-red:          #DF2F39;
$base-green:        #77ad10;


