body.page-verwaltung {
    #outer-wrapper {
        background: $base-grey-light;
    }
    ul.items-list {
        width: 100%;
        display: inline-block;
        clear: both;
        float: none;
        position: relative;
        list-style: none;
        li {
            width: 20%;
            float: left;
            padding: 15px;
            position: relative;
        }
        .item {
            display: inline-block;
            margin-bottom: 0;
            .image {
                width: 100%;
                display: inline-block;
                overflow: hidden;
                height: 350px;
            }
            .wrapper {
                width: 100%;
                display: inline-block;
                position: absolute;
                z-index: 999;
                background: rgba(255, 255, 255, 0.8);
                top: 0;
                left: 0;
            }
            &:hover {
                .wrapper,
                .item-footer {
                    background: rgba(255, 255, 255, 1);
                }
            }
            .item-footer {
                width: 100%;
                display: inline-block;
                position: absolute;
                z-index: 999;
                background: rgba(255, 255, 255, 1);
                bottom: 0;
                left: 0;
                .col-md-6 {
                    padding: 0;
                }
                a {
                    &.btn {
                        margin: 5px 0;
                        width: 100%;
                    }
                }
            }
        }
    }
}

@include max-screen($mobile-width) { 
    body.page-verwaltung {
        ul.items-list {
            padding: 0 !important;
            li {
                width: 100%;
                float: none;
                clear: both;
                padding: 15px;
                position: relative;
            }
            
        }
    }
}